    <meta charset="utf-8">
    <title>Weather To Do</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/a-sun-cartoon-with-a-long-ray-md.png" type="image/x-icon"/>
