<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <link rel="icon" href="/img/a-sun-cartoon-with-a-long-ray-md.png" type="image/x-icon"/>
        <title>Weather To Do- Register</title>
    </head>
    <body>
        <h1>Create User</h1>
        <form action="/users" method="POST">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" />
            <input type="submit" value="Create User" />
        </form>
    </body>
</html>
